.delete-button {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #dc3545;
    border-radius: 8px;
    text-align: center; 
}

.actualizar-button{
    margin-bottom: 20px;
    padding: 15px;
    background-color: black;
    border-radius: 8px;
    text-align: center; 
}
.actualizar-button:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.usuarios-grid {
    list-style: none;
    padding: 0;
}

.usuario-info {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center; 
    
}

li {
    list-style: none;
}

h4 {
    margin-top:0;
    color:#dc3545;
    
}