extends ../layout

block content
    h3 Crear Nueva Ubicación

    form(action="/ubicacion/nueva", method="POST")
        .form-group
            label(for="estacion") Nombre Estación
            input(type="text" name="nombreEstación" id="nombreEstacion" required)

        .form-group
            label(for="direccion") Dirección
            input(type="text" name="nombreDireccion" id="nombreDireccion" required)
        
        .form-group
            label(for="latitud") Latitud
            input(type="text" name="latitud" id="numeroLatitud" required)
        
        .form-group
            label(for="longitud") Longitud
            input(type="text" name="longitud" id="numeroLongitud" required)

        .form-group
            button(type="button") Cancelar
            button(type="submit") Crear Ubicación