extends ../layout
block styles
    link(rel='stylesheet', href='/css/botones.css')
block content
  a.boton.boton-nuevo(href="/ubicaciones/lista") 
    i.fas.fa-plus
    | Volver a la lista

  h3 Crear Nueva Ubicaci贸n
  form(action="/ubicaciones/nueva", method="POST")
    .form-group
      label(for="estacion") Nombre Estaci贸n
      input(type="text" name="nombre_estacion" id="nombreEstacion" required)

    .form-group
      label(for="direccion") Direcci贸n
      input(type="text" name="direccion" id="nombreDireccion" required)
    
    .form-group
      label(for="latitud") Latitud
      input(type="text" name="latitud" id="numeroLatitud" required)
    
    .form-group
      label(for="longitud") Longitud
      input(type="text" name="longitud" id="numeroLongitud" required)

    .form-group
      button(type="button") Cancelar
      button.boton-crear(type="submit") Crear Ubicaci贸n
