extends layout
block styles
    link(rel='stylesheet', href='/css/login.css')
    link(rel="stylesheet", href="/css/navegador.css")
block content
    .login-container
      h1 Registro
      if error
        p.error= error
      form(method='POST' action='/registro')
        label(for='nombre') 
        input#nombre(type='text' name='nombre' placeholder="nombre" required)
        label(for='apellido')
        input#apellido(type='text' name='apellido' placeholder="apellido" required)
        label(for='email')
        input#email(type='text' name='email' placeholder="email" required)
        label(for='telefono')
        input#telefono(type='text' name='telefono' placeholder="teléfono" required)
        label(for='direccion')
        input#direccion(type='text' name='direccion' placeholder="dirección" required)
        label(for='contrasena')
        input#contrasena(type='password' name='contrasena' placeholder="contrasena" required)
        label(for='contrasena')
        input#contrasenaConfirmada(type='password' name='contrasenaConfirmada' placeholder="contrasena" required)
             
        button(class="acceso" type='submit') Aceptar
        
        a(href="/login")
            button( class="registro" type="button") volver

    