
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title BilboBike
        link(rel="stylesheet" href="/css/navegador.css")
        link(rel="stylesheet" href="/css/listabicicletas.css")
        link(rel="stylesheet" href="/css/bicicleta.css")
        link(rel="stylesheet" href="/css/pagos.css")
        block styles 
        link(rel="stylesheet" href="/css/facturas.css")
        link(rel="stylesheet" href="/css/disponibilidad.css")
        block head
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")

    body
        block scripts
            script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")

        if user 
        .user-info  
        p Bienvenido, #{user.name}
        form(action='/logout' method='GET')
            button(type='submit') Cerrar sesion 

        nav.navbar
            ul
                li
                    a(href='#')
                        span.icon-menu
                li
                    a(href='/bicicletas/lista')
                        span.icon-bicicleta
                li
                    a(href='/ubicaciones/lista') 
                        span.icon-ubicacion
                li
                    a(href='/login')
                        span.icon-login
        block message
            if(message && messageType)
                p(class=`message ${messageType}`)= message
        block content