extends layout

block styles
    link(rel='stylesheet', href='/css/login.css')
    link(rel="stylesheet", href="/css/navegador.css")

block content
    h1.pagina-titulo BilboBike
    .login-container
      h2 Login
      if error
        p.error= error
      form(class="login-form" action='/login' method='POST')
        .input
          input#usuario(type='text' name='email' placeholder="e-mail" required)
        .input
          input#contrasena(type='password' name='contrasena' placeholder="contraseña" required )
        button.acceso(type='submit') Acceder
        a(href="/registro")
          button.registro(type='button') Registrate