html
  head
    title 
    link(rel='stylesheet', href='/static/css/navegador.css')
  body
    nav.navbar
      ul
        li
          a(href='#') 
            span.icon-menu
        li
          a(href='/bicicletas/lista') 
            span.icon-bicicleta
        li
          a(href='#') 
            span.icon-ubicacion
        li
          a(href='/login') 
            span.icon-login