nav.navbar
  ul
    li
      a(href='/usuarios/perfil') 
        span.icon-menu
    li
      a(href='/bicicletas/lista') 
        span.icon-bicicleta
    li
      a(href='/disponibilidad/lista') 
        span.icon-ubicacion
    li
      a(href='/logout') 
        span.icon-login 