extends ../layout

block content
  h3 Lista de Bicicletas
  ul
    each bicicleta in bicicletas
      li
        p Marca: #{bicicleta.marca}
        p Tipo: #{bicicleta.tipo}
        p Estado: #{bicicleta.estado}
        p Fecha de registro: #{bicicleta.fecha_registro}
