extends ../layout

block content
    h3 Crear Nueva Bicicleta

    form(action="/bicicletas/nueva", method="POST")
        .form-group
            label(for="marca") Marca
            input(type="text" name="marca" id="marca" required)

        .form-group
            label(for="tipo") Tipo
            input(type="text" name="tipo" id="tipo" required)

        .form-group
            label(for="estado") Estado
            select(name="estado" id="estado")
                option(value="disponible") Disponible
                option(value="en reparación") En Reparación
                option(value="en uso") En Uso



        .form-group
            label(for="fecha_registro") Fecha de Registro
            input(type="date" name="fecha_registro" id="fecha_registro")

        .form-group
            button(type="button") Cancelar
            button(type="submit") Crear Bicicleta
