extends ../layout 
block styles
    link(rel='stylesheet', href='/css/botones.css')

block content
  a.boton.boton-nuevo(href="/bicicletas/lista") 
    i.fas.fa-plus
    | Volver a la lista

  h3 Crear nuevo usuario 

    form(action="/usuarios/nuevo", method="POST")
        .form-group 
            label(for="email") Email:
            input(type="text" name="email" id="email" required)
        
        .form-group 
            label(for="contrase単a") Contrase単a:
            input(type="text" name="contrase単a" id="contrase単a" required)
        
        .form-group 
            label(for="nombre") Nombre:
            input(type="nombre" name="nombre" id="nombre" required)

        .form-group 
            label(for="apellido") Apellido:
            input(type="text" name="apellido" id="apellido" required)
        
        .form-group 
            label(for="telefono") Telefono:
            input(type="tel" name="telefono" id="telefono" required)
        
        .form-group 
            label(for="direccion") Direccion:
            input(type="text" name="direccion" id="direccion" required)

        .form-group 
            button(type="button") Cancelar 
            button.boton-crear(type="Submit") Crear Usuario      